<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>

    <script>
        console.log('Tohle je interní skript v hlavičce dokumentu.');
    </script>
</head>
<body>
    <button onlick="alert('Právě jsi spustil první JavaScript')">Klikni na mě...</button>
    <script>
        console.log('Tohle je interní skript v těle dokumentu.');
    </script>

    <h1>Výstup JavaScriptu</h1>
    <button onclick="spustitCviceni()">Spustit ukázky</button>

    <pre id="vystup"></pre>

    <script src="../static/prvniskript.js"></script>
    <script src="../static/metody.js"></script>
</body>
</html>