<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Formulář</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <form>
        <label>
            Jméno:<br>
            <input type="text" id="int-name" name="int-name">
        </label>
        <br><br>

        <label>
            Příjmení:<br>
            <input type="text" id="int-surname" name="int-surname">
        </label>
        <br><br>

        <label>
            E-mail:<br>
            <input type="email" id="int-email" name="int-email">
        </label>
        <br><br>

        <label>
            <input type="checkbox" id="chb-done" name="chb-done">
            Souhlasím
        </label>
        <br>

        <label>
            <input type="checkbox" id="chb-mews" name="chb-mews">
            Zasílat newsletter
        </label>
        <br><br>

        <button type="submit">Odeslat</button>
    </form>

</body>
</html>